<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col">
                <h4>Hello {{thisUser.First_name}}</h4>
            </div>
            <div class="col-md-auto">

            </div>
            <div class="col col-lg-2">
                <a href="/logout">logout</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="container p-5">
        <form action="/jobs/create" method="POST">{% csrf_token%}
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Title</label>
                <div class="col-sm-10">
                    <input name="title" type="text" class="form-control form-control-lg" id="colFormLabelLg"
                        placeholder="col-form-label-lg">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
                <div class="col-sm-10">
                    <input name="desc" type="text" class="form-control form-control-lg" id="colFormLabelLg"
                        placeholder="col-form-label-lg">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Location</label>
                <div class="col-sm-10">
                    <input name="location" type="text" class="form-control form-control-lg" id="colFormLabelLg"
                        placeholder="col-form-label-lg">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="checkbox" id="Education" name="cat" value="education">
                    <label for="education"> Education</label><br>
                    <input name="cat" type="checkbox" id="" value="aviation">
                    <label for="aviation"> Aviation</label><br>
                    <input type="checkbox" id="Food" name="cat" value="Food">
                    <label for="food"> food</label>
                </div>
                <div class="col-sm-10">
                    <label for="education"> other</label><br>
                    <input name="cat" type="text">
                </div>
            </div>
                
            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"></label>
                    <a class="btn btn-danger" href="/jobs">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                

            </div>
            
            
        </form>
    </div>

</body>

</html>